.Experience {
  .content {
    margin-top: 4%;
    .evolution {
      display: flex;
      flex-direction: column;
      height: auto;
      .evolution-body {
        display: flex;
        justify-content: center;
        .exp-circle {
          padding: 5px;
          background-color: #323232;
          border-radius: 50%;
          height: 17px;
          width: 17px;
          margin-top: 15px;
          margin-left: 12px;
        }
        .exp-period {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 10%;
          margin-left: 12px;
          height: 100%;
          .icon {
            display: flex;
            justify-content: center;
            i {
              width: auto;
              color: white;
              font-size: 1.6rem;
              border: 1px solid $black4;
              border-radius: 50%;
              padding: 15px;
            }
          }
          .exp-period-details {
            width: auto;
            .year {
              margin-top: 20px;
              text-align: center;
              color: white;
              font-size: 1.2rem;
              font-weight: 600;
              font-family: 'Montserrat';
            }
            .text {
              text-align: center;
              margin-top: 10px;
              font-size: 0.9rem;
              color: $black3;
              font-family: Roboto;
            }
          }
        }
      }
    }
    .evolution,
    .education,
    .awards {
      .title {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 2.3rem;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: white;
        letter-spacing: 0.01px;
      }
    }
    .education {
      .education-body {
        display: flex;
        align-items: center;
        flex-direction: column;
        .education-box {
          margin-top: 30px;
          width: 80%;
          min-height: 220px;
          background-color: #303030;
          display: flex;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            transform: scale(1.05);
            transition: all 0.2s ease-in-out;
            .e-title {
              color: $blue !important;
              transition: color 0.7s ease-in-out;
            }
          }
          .education-left-side {
            background-image: url('../images/education.jpg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.7;
            width: 30%;
            min-width: 200px;
            margin-right: 10px;
          }

          .education-right-side {
            display: flex;
            flex-direction: column;

            .e-title {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 2rem;
              font-weight: 600;
              color: rgba($color: white, $alpha: 0.4);
              margin: 20px 0;
            }
            .e-content {
              display: flex;
              justify-content: center;
              color: $black4;
              font-weight: 100;
              letter-spacing: 1px;
              font-size: 0.9rem;
              text-indent: 5px;
              margin: 0 20px;
              line-height: 1.2rem;
              margin-bottom: 20px;
            }
          }

          &:last-child {
            margin-bottom: 50px;
          }
        }
      }
    }
    .awards {
      .awards-body {
        display: flex;
        align-items: center;
        flex-direction: column;
        .awards-box {
          margin-top: 30px;
          width: 80%;
          min-height: 220px;
          background-color: #303030;
          display: flex;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            transform: scale(1.05);
            transition: all 0.2s ease-in-out;
            .a-title {
              color: $blue !important;
              transition: color 0.7s ease-in-out;
            }
          }
          &:last-child {
            margin-bottom: 100px;
          }
          .awards-left-side {
            width: 30%;
            background-image: url('../images/education.jpg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.7;
            margin-right: 10px;
            .fa {
              font-size: 3rem;
              margin-left: -1.5rem !important;
              margin-top: -1.5rem !important;
              color: $blue;
            }
          }
          .awards-right-side {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .a-title {
              height: 100%;
              margin-top: 3%;
              margin-bottom: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 2rem;
              font-weight: 600;
              color: rgba($color: white, $alpha: 0.4);
            }
          }
        }
      }
    }
  }
}

.period-blue {
  .icon {
    background: $blue;
    border-radius: 100%;
    z-index: 0;
    border: 3px solid $black2;
    i {
      border: none !important;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: rotate(360deg);
        transition: all 0.5s ease-in-out;
      }
    }
  }
  .text {
    color: white !important;
  }
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 1000px) {
  .awards-box,
  .education-box {
    flex-direction: column;
    .awards-left-side,
    .education-left-side {
      width: 100% !important;
      min-height: 300px !important;
      height: 50% !important;
    }
  }

  .Experience {
    .content {
      padding: 0 !important;
    }
    .container {
      width: 100%;
    }
    .evolution-body {
      width: 100vw;
      transform: scale(0.7);
    }
    .education {
      width: 100vw;
      .education-box {
        min-height: 200px;
        width: 98vw !important;
        .e-title {
          font-size: 1.5rem !important;
        }
        .e-content {
          font-size: 0.8rem !important;
          margin-bottom: 10px;
          line-height: 1rem !important;
        }
      }
    }
    .awards {
      .a-title {
        font-size: 1.5rem !important;
      }
    }
  }
}
