.Home {
    overflow:  hidden !important;
    height: 100vh;
    .container {
        height: 100%;
        width: 100%;
        .main-home {
            z-index: 100;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: Helvetica, Roboto;
            .text-name {
                margin-top: -50px;
                margin-bottom: 10px;
                font-size: 3rem;
                font-weight: bold;
                color: white;
                line-height: 3.5rem;
                word-wrap: none;
                .text-username {
                    color: $blue;
                }
            }
            .text-title {
                color: rgba($blue, .7);
                opacity: .5;
                letter-spacing: 4px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: .8rem;
                margin-bottom: 40px;
                margin-left: 5px;
            }
            .contact-btn {
                z-index: 10;
                a {
                    margin-top: 20px;
                    border: 1px solid $blue;
                    border-radius: 5px;
                    color: $blue;
                    padding: 7px 20px;
                    text-transform: uppercase;
                    font-size: .8rem;
                    letter-spacing: 3px;
                    &:hover {
                        background: $blue;
                        color: white;
                    }
                }
            }
        }
        .img-home {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 2;
            .svg-container {
                position: absolute;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                transform: scale(1.1);
            }
            .img-container {
                position: absolute;
                height: 70%;
                width: 60%;
                background: url('../images/LOGO.png');
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                animation: logoRot infinite 15s ease-in-out;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../images/LOGO.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    opacity: .5;
                    background-position: center center;
                    z-index: 2; 
                    // mix-blend-mode: 
                    animation: animate 5s infinite ease-in-out;       
                }
            }
        }
    }
}

.particles canvas{
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.home-container {
    margin: 0 100px;
}

@keyframes logoRot {
    0% {
        transform: rotate(0);
    }
    30% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(90deg);
    }
    70% {
        transform: rotate(90deg);
    }
    80% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes animate {
    0% {
        background-position: 0 0;
        filter: hue-rotate(0deg);
    }
    1% {
        background-position: calc(50% + 4px) center;
    }
    2% {
        background-position: calc(50% - 4px) center;
    }
    3% {
        background-position: calc(50% + 12px) center;
    }
    4% {
        background-position: calc(50% - 16px) center;
    }
    5% {
        background-position: calc(50% - 24px) center;
    }
    6% {
        background-position: calc(50% + 52px) center;
    }
    7% {
        background-position: calc(50% - 22px) center;
    }
    8% {
        background-position: calc(50% + 40px) -10px;
    }
    9% {
        background-position: center center;
    }
    10% {
        background-position: center center;
        filter: hue-rotate(360deg);        
    }
    11% {
        background-position: center center;
        filter: hue-rotate(0);        
    }
    100% {
        background-position: center center;
    }
}

@media (max-width: 994px) {
    .main-home {
        .text-name {
            font-size: 2.5rem !important;
            line-height: 2.5rem !important;
        }
        .text-title {
            font-size: .7rem !important;
        }
    }
    .img-home {
        // position: absolute !important;
    }
}

@media (max-width: 794px) {
    .container {
        margin: 20px auto;
    }
    .main-home {
        width: 100% !important;
        margin-left: -15%;
        margin: 5% auto;
    }
    .img-home {
        position: absolute !important;
        opacity: .6;
        width: 50% !important;
        top: 0;
        margin-left: -15%;
        margin-left: 10%;
    }
}

.home {
    &--animation {
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        animation: zoom-in 3s ease;
        animation-iteration-count: 1;
        transform: scale(1);
        &-container {
            position: absolute;
            z-index: 3000;
            &--hide-image {
                opacity: 0;
            }
            &--hide {
                animation: hide-image .5s ease;
                animation-iteration-count: 1;
                transform: translateX(-100%);
                transition: transform 1s ease-in-out;
                &__image {
                    opacity: 0;
                    position: absolute;
                    height: 100vh;
                    width: 100vw;
                    animation: hide-image .5s ease;
                    animation-iteration-count: 1;
                    transition: transform .3s ease-in-out;
                    border-right: 5px solid red;
                    background-color: red !important;

                }
            }
        }
        &__top-bar, &__bottom-bar {
            position: absolute;
            height: 20vh;
            width: 100%;
            background-color: #151515;
            z-index: 10;
            animation-iteration-count: 1;
        }
        &__top-bar {
            top: 0;
            animation: hide-bars-top 6s cubic-bezier(.58,.44,0,1.34);
        }
        &__bottom-bar {
            bottom: 0;
            animation: hide-bars-bottom 6s cubic-bezier(.58,.44,0,1.34);
        }
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes hide-bars-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}
@keyframes hide-bars-bottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes hide-image {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        z-index: -1
    }
}