// .custom-margin {
//     margin-top: $margin !important;
// }


.tag {
    color: $black4;
    font-family: "Architects Daughter";
    font-style: italic;
    letter-spacing: 2px;
    font-size: .8rem;
    font-weight: 600;
    position: absolute;
    left: 8%;
    cursor: default;
    opacity: .7;
    &.tag-render {
        top: 7%;
    }
    &.tag-fragment-start {
        top: 12%;
        left: 10%;
    }
    &.tag-fragment-end {
        bottom: 12%;
        left: 10%;
    }
    &.tag-render-end {
        bottom: 7%;
    }
    
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    transform: scale(0);
    transition: all .3s ease-in-out;
    opacity: 0; 
}


.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 768px) {
    .container {
      width: 300px;
    }
  }

  @media (min-width: 768px) {
    .container {
      width: 760px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 980px;
    }
  }
  @media (min-width: 1170px) {
    .container {
      width: 1150px;
    }
  }

.box {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
}
