// .custom-margin {
//     margin-top: $margin !important;
// }

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    transform: scale(0);
    transition: all .3s ease-in-out;
    opacity: 0; 
}


.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 760px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 980px;
    }
  }
  @media (min-width: 1200px) {
    .container {
    //   width: 1250px;
    }
  }

.box {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
}
