#navbar { 
    height: 100%;
    display: grid;
    grid-template-rows: 25% 50% auto;
    -webkit-box-shadow: 4px 1px 22px -3px rgba(0,0,0,.35);
    -moz-box-shadow: 4px 1px 22px -3px rgba(0,0,0,.35);
    box-shadow: 4px 1px 22px -3px rgba(0,0,0,.35);
    .navbar-item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
        &.navbar-mid {
            display: flex;
            flex-direction: column;
            z-index: 10;            
            .item {
                flex: 1;
                width: 100%;
                position: relative;
                cursor: pointer;
                &:hover {
                    .navbar-icon {
                        color: $blue !important;
                    }
                }
                .navbar-icon {
                    font-size: 1.5rem;
                    color: $black3;
                    &:active {
                        color: $blue;
                    }
                }
                .item-text {
                    font-size: .7rem;
                    text-transform: uppercase;
                    border: none;
                    color: $blue;
                }
                * {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &.actve-item {
                    position: relative;
                    i {
                        font-size: 1.4em;
                        width: 1.8em;
                        text-align: center;
                        line-height: 1.8em;
                        background: #007ab7;
                        color: #fff;
                        border-radius: 0.8em; /* or 50% width & line-height */
                        -webkit-box-shadow: 0px 8px 26px -6px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 8px 26px -6px rgba(0,0,0,0.75);
                        box-shadow: 0px 8px 26px -6px rgba(0,0,0,0.75);
                    }
                }
            }
        }
        &.navbar-bot {
            display: flex;
            flex-direction: column;
            .social-item {
                padding: 5px;
                margin-top: 5px;
                color: $black3 !important;
                &:hover {
                    color: $blue !important;
                    cursor: pointer;
                }
            }
        }
        &.navbar-top {
            background-image: url('../images//LOGO.png');
            background-size: 0%;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/LOGO.png');
                background-size: contain;
                background-repeat: no-repeat;
                opacity: .5;
                background-position: center center;
                z-index: 2; 
                // mix-blend-mode: 
                animation: animate 5s infinite ease-in-out;       
            }
        }
        &.navbar-hamburger {
            display: none;

        }
    }
}
.sidebar {
    z-index: 4;
}

@media (max-width: 992px) {
    .sidebar {
        width: 100vw !important;
        height: 60px !important;
    }
    #navbar {
        grid-template-columns: 10% 70% auto !important;
        grid-template-rows: 100% !important;
        .navbar-item {
            align-items: center;
            &.navbar-mid {
                flex-direction: row !important;
            }
            &.navbar-bot {
                flex-direction: row !important;
            }
        }
    }
}

@media (max-width: 600px) {
    #navbar {
        z-index: 5;
        display: flex !important;
        // grid-template-columns: 100% !important;
        justify-content: space-between !important;
        .navbar-item {
            &.navbar-hamburger {
                display: flex;
                color: $black4;
                font-size: 1.4rem;
                margin-right: 30px;
                padding: 10px;
            }
            &.navbar-top {
                height: 90%;
                width: 50px;
                margin-left: 30px;
            }
            &.navbar-mid, &.navbar-bot {
                display: none;
            }
        }
    }
    .navbar-mobile {
        width: 100vw;
        height: calc(100vh - 50px);
        z-index: 3;
        background-color: $black2;
        display: grid;
        grid-template-rows: 80% 20%;
        .navbar-mobile-main {
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                // padding: 10% 0;
                font-size: 1.5rem;
                color: $black4;
                .item-text {
                    text-transform: uppercase;
                    font-weight: 600;
                }
                &:hover {
                    color: $blue;
                }
            }
        }
        .navbar-mobile-social {
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: $blue;
        }
    }
}