.Projects {
    width: 100vw;
    height: 100vh;
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .projects-list {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;            
            .project {
                height: 70vh;
                width: 60vw;
                background-image: url('../images//div_pattern.jpg');
                display: flex;
                padding: 3% 0 3% 7%;
                border-bottom-left-radius: 70px;
                position: relative;
                z-index: 10;
                -webkit-box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.75);
                box-shadow: 0px 3px 21px -1px rgba(0,0,0,0.75);
                .project-leftside {
                    flex: 3;
                    margin-right: 40px;
                    // padding-right: 50px;
                    display: grid;
                    grid-template-rows: 25% 15% 35% 10% auto;
                    z-index: 10;                                
                    .project-id {
                        font-size: 6rem;
                        color: white;
                        font-weight: bold;
                        font-family: "Roboto Condensed" ,"Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                    .project-title {
                        color: white;
                        font-size: 1.5rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        position: relative;
                        &::after {
                            content: "";
                            border: 2px solid white;
                            width: 30px;
                            background-color: white;
                            position: absolute;
                            top: 1.9rem;
                            left: 1px;
                        }
                    }
                    .project-text {
                        color: rgba(255, 255, 255, .5);
                        font-weight: 400;
                        letter-spacing: 2px;
                        font-size: .9rem;
                        line-height: 1.8rem;
                        text-indent: 5px;
                    }
                    .project-tags {
                            list-style: none;
                            margin: 0;
                            overflow: hidden; 
                            padding: 0;
                            width: 200%;
                          
                          
                          
                          
                          .project-tag {
                            background: #eee;
                            border-radius: 3px 0 0 3px;
                            color: #999;
                            display: inline-block;
                            height: 26px;
                            line-height: 26px;
                            padding: 0 20px 0 23px;
                            position: relative;
                            margin: 0 10px 10px 0;
                            text-decoration: none;
                            -webkit-transition: color 0.2s;
                          }
                          
                          .project-tag::before {
                            background-color: rgba(#004e74, .80);
                            border-radius: 10px;
                            box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
                            content: '';
                            height: 6px;
                            left: 10px;
                            position: absolute;
                            width: 6px;
                            top: 10px;
                          }
                          
                          .project-tag::after {
                            background-color: rgba(#004e74, .80);
                            border-bottom: 13px solid transparent;
                            border-left: 10px solid #eee;
                            border-top: 13px solid transparent;
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 0;
                          }
                    }

                    .project-more {
                        display: flex;
                        div {
                            height: 0px;
                            margin: 10px 10px 10px 0;
                            padding: 15px 10px;
                            background-color: white;
                            border-radius: 3px;
                            cursor: pointer;
                            -webkit-box-shadow: 0px 4px 14px -2px rgba(0,0,0,.45);
                            -moz-box-shadow: 0px 4px 14px -2px rgba(0,0,0,.45);
                            box-shadow: 0px 4px 14px -2px rgba(0,0,0,.45);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:hover {
                                background-color: rgba(255, 255, 255, .5) !important;
                            }
                            span {
                                padding: 0 !important;
                                font-size: .9rem;
                                color: rgba($blue, .7);
                                text-transform: uppercase;
                                font-weight: 600;
                                font-family: Roboto, sans-serif;
                                letter-spacing: 2px;
                            }
                            &.see_code {
                                i {
                                    color: $blue;
                                }
                            }
                            &.see_url {
                                i {
                                    color: $blue;
                                }
                            }
                        }
                    }
                }
                .project-rightside {
                    flex: 2;
                    position: relative;
                    .project-image {
                        position: absolute;
                        min-height: 70%;
                        min-width: calc(100% + 200px);
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        top: calc(-50px - 7%);
                        left: -50px;
                        border: 5px solid white;
                    }
                    .project-arrows {
                        position: absolute;
                        bottom: 10px;
                        right: 50px;
                        display: flex;
                        .arrow-left, .arrow-right {
                            .fa {
                                padding: 10px;
                                color: rgba(#005884, 0.7);
                                background-color: white;
                                cursor: pointer;
                                transition: all .2s ease-in-out;                               
                                &:hover {
                                    background-color: $blue;
                                    color: white;
                                    transition: all .2s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pattern {
    width: 80%;
    height: 30px;
    background-size: 500%;
    background-position: center center;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIklEQVQoU2P09fX7zwAFmzdvYoSx0WlG6ivEZRWG1SNSIQDt1QwLKFAnmQAAAABJRU5ErkJggg==');
    position: absolute;
    opacity: .5;
    &.top {
        top: -30px;
        left: 5px;
    }
    &.right {
        height: 80%;
        width: 30px;
        bottom: 5px;
        right: -35px;
    }
    z-index: 0;

}

.layer {
    background-color: rgba(#004e74, .80);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 70px;
}