.Skills {
    .content {
        margin-top: 10%;
        .flex-row {
            width: 60%;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            margin-left: 15%;
            margin-top: 10%;
            .left-side {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                text-align: center;
                .progress-section-text {
                    color: rgb(183, 183, 183);
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.2rem;
                    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
            .right-side {
                flex: 1;
                .skill {
                    font-family: "Montserrat", sans-serif;
                    color: $black4;
                    &:first-child {
                        margin-top: 30px;
                    }
                    margin-bottom: 30px;
                    .skill-label {
                        display: flex;
                        justify-content: space-between;
                    }
                    .skill-bar {
                        flex: 4;
                        height: 2px;
                        background: $black3;
                        margin: 15px 0 10px;
                        position: relative;
                        .skill-progress {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 95%;
                            height: 100%;
                            background: linear-gradient(to right, #00327b, #2b80ff);
                            &::before {
                                content: '';
                                position: absolute;
                                top: -5px;
                                right: 0;
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                background-color: #fff;
                                box-shadow: 0 0 25px rgb(41, 123, 247);
                            }
                        }
                    }
                }
            }
        }
    }
}

.circle {
    width: 40px;
    height: 40px;
    border: 12px solid #00BCD4;
    border-radius: 40%;
    z-index: 0;
    transition: all 2s ease-out;
    &.lg {
        width: 60px;
        height: 60px;
        border: 18px solid #0097A7;
    }
    &.md {
        width: 50px;
        height: 50px;
        border: 14px solid #B2EBF2;
    }
    &.circle1 {
        position: absolute;
        top: 250px;
        left: 200px;
    }
    &.circle2 {
        position: absolute;
        top: 120px;
        right: 70px;
    }
    &.circle3 {
        position: absolute;
        bottom: 150px;
        left: 250px;;
    }
    &.circle4 {
        position: absolute;
        bottom: 350px;
        right: 100px;
    }
}

.line-left {
    position: fixed;
    left: 15%;
    height: 100vh;
    width: 2px;
    border-right: 1px solid $black4;
    opacity: .3;
    animation: progress-line 4s ease-in-out;
}
.line-right {
    position: fixed;
    right: 14%;
    height: 100vh;
    width: 2px;
    border-right: 1px solid $black4;
    opacity: .3;
    animation: progress-line 5s ease-in-out;
}
.lg-blue1 {
    width: 80px;
    height: 80px;
    background: $blue;
    border-radius: 12px;
}
.square {
    &.square1 {
        position: absolute;
        left: calc(15% - 40px + 1px);
        bottom: 30px;
    }
    &.square2 {
        position: absolute;
        right: calc(14% - 40px + 3px);
    }
}

// .go-down-btn {
//     position: absolute;
//     bottom: 5%;
//     right: 50%;
//     z-index: 50;
//     border: 1px solid white;
//     border-radius: 100%;
//     color: white;
//     padding: 15px;
//     .fa {
//         font-size: 1.1rem;
//         font-weight: 100;
//     }
// }

.go-down-btn { 
    position: absolute;
    right: 50%;
    bottom: 50px;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
    z-index: 100;  
    color: black;
    cursor: pointer;
    border: 1px solid white;
    background: transparent;
    i {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        // align-items: center;
        color: white;
        font-size: 1.2rem;
        position: absolute;
        animation: move_down 1s infinite ease-in-out;
    }
  }

@keyframes move_down {
    0% {
        transform: translateY(10px) scaleY(1);
    }
    25% {
        transform: scaleY(1.6);        
    }
    50% {
        transform: scaleY(1) translateY(22px);        
    }
    100% {
        transform: translateY(10px) scaleY(1);        
    }
}

@keyframes progress-line {
    from {
        height: 0vh;
    }
    to {
        height: 100vh;
    }
}
@-webkit-keyframes sdb03 {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

.skill-points {
    margin-top: 100vh;
}

.skill-text-tag {
    opacity: 0;
    color: white;
    animation: test linear infinite 4s;    
    letter-spacing: 1px;
    margin: 5px;
    font-style: italic !important;
    font-family: sans-serif;
}
$elements: 30;
@for $i from 0 to $elements {
    .skill-text-tag:nth-child(#{$i}) { 
        animation-delay: $i * 0.25s !important; 
        animation-duration: 3s + $i/3 !important; 
    }
  }

@keyframes test{
    0% {
        text-shadow: 0px;
        letter-spacing: 1px;
    }
    30% {
        text-shadow: 0;
    }
    50% {
        text-shadow: rgb(30, 242, 241) 4px 0px 1px, rgb(246, 5, 10) -4px 0px 1px;
        letter-spacing: 4px;
    }
    70% {
        text-shadow: 0; 
        letter-spacing: 1px;
    }
    100% {
        text-shadow: 0;
    }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.set-size {
    font-size: 10em;
    display: flex;
    justify-content: center;
}
.charts-container:after {
  clear: both;
  content: "";
  display: table;
}
.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.6em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid hsl(200, 100%, 25%);
  border-radius: 50%;
}
// section text
    .pie-wrapper.style-2 .label {
    background: none;
    color: #7f8c8d;
    }
    .pie-wrapper.style-2 .label .smaller {
    color: #bdc3c7;
    }
// endsection

.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: hsl(200, 100%, 50%);
}
.pie-wrapper.progress-95 .pie .left-side {
  -webkit-transform: rotate(342deg);
          transform: rotate(342deg);
}





h1 {
	font-size: 3rem;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	text-align: center;
	opacity: 0.5;
}

.app-outer {
	align-items: center; 
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	padding: 20px 0;
	position: absolute;
	right: 0;
	top: 0;
}

.app-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 1000px;
	width: 100%;
}

.tag-cloud {
	flex: 1;
}

.tag-cloud > div {
	transition: 1.4s;
}

.tag-item-wrapper {
	cursor: pointer;
}

.tag-item-wrapper:hover {
	z-index: 100;
}

.tag-item-wrapper:hover .tag-item-tooltip {
	display: block;
}

.tag-item-tooltip {
	background: #c01916;
	color: white;
	margin-top: 5px;
  z-index: 100;
  display: none;
	padding: 15px;
	font-size: 14px;
	line-height: 1;
	position: absolute;
	min-width: 60px;
	left: 50%;
	transform: translateX(-50%);
  text-align: center;
}

.before-text-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .before-text {
        color: white;
        font-size: 2rem;
        font-style: italic;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }
}
