$mine_shaft: #303030;
$mine_shaft_dark: #202020;
$mine_shaft_light: rgba($color: $mine_shaft, $alpha: .9);
$ecru_white: #f1ebda;
$ecru_white_light: #fffbee;
$laser: #C8A374;
$quincy: #583B29;

$box-border-color: #ECEFF1;
$margin: 100px;



/*
    What is above will be deleted. React scss is acting weird
*/

/* 
    **Main Colors 
*/
$blue: #00a8ff;
$green: #4cd137;
$yellow: #fbc531;
$purple: #9c88ff;
$red: #c23616;

/* 
    **Dark Colors 
*/
$black1: #252627; // bg
$black2: #181818; // nav
$black3: #4d4d4e; // text
